/* Global Settings */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat", "Verdana", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 3.4rem;
    color: white;
}

h2 {
    font-weight: 800;
    font-size: 3.2rem;
    color: #4082a9;
}

h4 {
    font-weight: 800;
    font-size: 1.8rem;
    color: #4082a9;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #262626;
}

/* Modules */

/* _________________HEADER_________________ */

.main {
    padding: 0rem 400px;
}

.header {
    display: flex;
    background-color: #23282D;
    height: 5.1rem;
    justify-content: center;
    align-items: center;
    padding: 0px 400px ;
}

.header__select-target {
    flex: 1 1 40%;
    font-weight: 600;
    font-size: 1.5rem;
    text-align:start;
    align-items: center;
}

.header__select-target-img {
    margin-right: 1.5rem;
}

.header__select-target a {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0px 1rem;
}

.header__select-target a:link {
    padding: 0px 1rem;
}

.header__select-target a:visited, a:active {
    /* padding: 0px 1rem; */
    background-color: #f9c71c;
}

.header__select-target a:hover {
    border-style: solid;
    border-color: #f9c71c;
    border-top-width: 1.9rem;
    border-bottom-width: 1.3rem;
    background-color: #f9c71c;
    color: white;
}

.header__select-target-residential {
    color: white;
    border-style: solid;
    border-color: #f9c71c;
    border-top-width: 1.9rem;
    border-bottom-width: 1.3rem;
    border-left-width: 1rem;
    border-right-width: 1rem;
    background-color: #f9c71c;
}

.header__select-target-business {
    color: #777;
}

.header__questions {
    flex: 1 1 60%;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    text-align: end;
}

.header__questions a {
    font-weight: 600;
    font-size: 1.6rem;
    color: #f9c71c;
    text-decoration: none;
}


/* _________________HERO_________________ */


.hero {

}

