/* Global Settings */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat", "Verdana", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 3.4rem;
    color: white;
}

h2 {
    font-weight: 800;
    font-size: 3.2rem;
    color: #4082a9;
}

h4 {
    font-weight: 800;
    font-size: 1.8rem;
    color: #4082a9;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #262626;
}

/* Modules */

/* _________________HEADER_________________ */


.header {
    display: flex;
    background-color: #23282D;
    height: 5.1rem;
    justify-content: center;
    align-items: center;
    padding: 0px 400px ;
}

.header__select-target {
    flex: 1 1 40%;
    font-weight: 600;
    font-size: 1.6rem;
    text-align:start;
    align-items: center;
}

.header__select-target-img {
    margin-right: 1.5rem;
}

.header__select-target a {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0px 1rem;
}

.header__select-target a:link {
    padding: 0px 1rem;
}

.header__select-target a:visited, a:active {
    /* padding: 0px 1rem; */
    background-color: #f9c71c;
}

.header__select-target a:hover {
    border-style: solid;
    border-color: #f9c71c;
    border-top-width: 1.9rem;
    border-bottom-width: 1.3rem;
    background-color: #f9c71c;
    color: white;
}

.header__select-target-residential {
    color: white;
    border-style: solid;
    border-color: #f9c71c;
    border-top-width: 1.9rem;
    border-bottom-width: 1.3rem;
    border-left-width: 1rem;
    border-right-width: 1rem;
    background-color: #f9c71c;
}

.header__select-target-business {
    color: #777;
}

.header__questions {
    flex: 1 1 60%;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    text-align: end;
}

.header__questions a {
    font-weight: 600;
    font-size: 1.6rem;
    color: #f9c71c;
    text-decoration: none;
}


/* _________________HERO_________________ */


.hero {
    display: flex;
    height: 689px;
    background-image: url(/img/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.hero__menu {
    display: flex;
    padding: 15px 400px;
    justify-content: center;
    align-items:flex-start;
    flex: 1 1 100%;
}


.hero__logo {
    flex: 1 1 15%;
    margin: 0px;
}

.hero__nav {
    flex: 1 1 70%;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 18px 0px 0px 20px;
    cursor: pointer;
}

.hero__button {
    flex: 1 1 15%;
    padding: 18px 0px;
}

.hero__button a {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 1.5rem;
    border-style: solid;
    border-color: white;
    border-width: .2rem;
    background-color: transparent;
    border-radius: .5rem;
    color: white;
    text-decoration: none;
}

.hero__button :hover {
    background-color: white;
    color: #7CBBCC;
}

.hero li {
    display: inline;
    padding: 0px 25px;
}

.hero__title {
    display: flex;
    flex: 1 1 100%;
    justify-content: start;
    margin-top: 132px;
    padding-left: 400px;
    flex-wrap: wrap;
}

.hero__title p {
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
    line-height: 2;
}

.hero__button2 {
    flex: 1 1 100%;
    padding: 28px 0px 55px 0px;
}

.hero__button2 a {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 1.8rem;
    border-style: solid;
    border-color: white;
    border-width: .2rem;
    background-color: transparent;
    border-radius: .5rem;
    color: white;
    text-decoration: none;
}

.hero__button2 :hover {
    background-color: white;
    color: #7CBBCC;
}

.hero__cards {
    display: flex;
    justify-content: center;
    align-items:center;
    flex: 1 1 100%;
    flex-wrap: wrap;
}

.hero__cards-container {
    display: flex;
    flex-basis: 58%;
    background-color: white;
    height: 336px;
    border-style: solid;
    border-radius: 8px;
    border-color: white;
    box-shadow: 2px 2px 8px rgba(192, 192, 192, .3);
    margin-top: 110px;
    margin-bottom: -90px;
}

.hero__cards-individual {
    display: flex;
    flex: 1 1 25%;
    justify-content: center;
    margin: auto;
    border-right-style: solid;
    border-width: .1rem;
    border-right-color: rgb(197, 197, 197);
    flex-wrap: wrap;
    text-align: center;
}

.hero__cards-individual-modifier {
    border-right-style: none;
}

.hero__cards-individual img {
    width: 60px;
    height: 60px;
}

.hero__cards-individual h4 {
    flex-basis: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;

}

.hero__cards-individual p {
    font-size: 1.5rem;
    color: #4082a9;
    text-align: center;
    padding: 0px 25px;
}

.hero__cards-button {
    padding: 20px 0px 10px 0px;
}

.hero__cards-button  a {
    padding: 18px 20px;
    font-weight: 600;
    font-size: 1.5rem;
    border-style: solid;
    border-color: #F9C71C;
    border-width: .2rem;
    background-color: #F9C71C;
    border-radius: .5rem;
    color: white;
    text-decoration: none;
}

.hero__cards-button :hover {
    background-color: hsl(45, 74%, 64%);
    color: white;
    border-style: solid;
    border-color: hsl(45, 74%, 64%);
    border-width: .2rem;
    border-radius: .5rem;
}

/*_________About Section__________*/

.about {
    height: 1520px;
    padding: 340px 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.about__container {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about__container-col {
    flex:1 1 50%;
    
}

.about__container img {
    max-width: 100%;
    height: auto;
}

.about__container p {
    line-height: 2;
    margin-right: 50px;
}

.about__container-button {
    padding: 20px 0px 10px 0px;
}

.about__container-button a {
    padding: 12px 20px;
    font-weight: 600;
    font-size: 1.8rem;
    border-style: solid;
    border-color: #4082a9;
    border-width: .2rem;
    background-color: white;
    border-radius: .5rem;
    color: #4082a9;
    text-decoration: none;
}

.about__container-button a:hover {
    background-color: #4082a9;
    color: white;
    border-style: solid;
    border-color: #4082a9;
    border-width: .2rem;
    border-radius: .5rem;
}

.about__container-modifier {
    flex-flow: row-reverse;
    padding-top: 50px;
}

/*_________Featured Section__________*/

.featured__title {
    text-align: center;
    height: 190px;
    padding: 50px 400px;
    background-color: #F3F4F4;
}

.featured__title a {
    font-weight: 600;
    font-size: 1.5rem;
    color: #f9c71c;
    text-decoration: none;
}

.featured__title a:hover {
    color: #e4b620;
    text-decoration: underline;
}

.price { 
    display: flex;
    height: 850px;
    justify-content: center;
    align-items: center;
    padding: 0px 400px;
    background-color: #F3F4F4;
    flex-wrap: wrap;
}

.price__container {
    flex: 1 1 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price__container-individual {
    display: flex;
    flex: 1 1 100%;
    max-width: 462.5px;
    height: auto;
    flex-wrap: wrap;
    background-color: #F3F4F4;
    box-shadow: 2px 2px 8px rgba(192, 192, 192, .3);
    transition: all 500ms;
    transform:translate(0px,0px);
}

.price__container-individual:hover {
    transform:translate(0px,-4px);
}

.price__container-individual-one {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: 462.5px;
    height: 193px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    background-color: #5a92b3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.price__container-individual-one-modifier {
    background-color: #414141;
}

.price__container-individual-one-modifier img {
    z-index: 9;
    height: 125px;
    width: 125px;
    margin-top: -300px;
    margin-left: 435px;
}

.price__container-individual-one h3, h4 {
    flex: 1 1 100%;
    color: white;
}

.price__container-individual-one h3 {
    font-size: 2.6rem;
    font-weight: 600;
}

.price__container-individual-one h4 {
    font-size: 5.5rem;
    margin: auto;
    padding-bottom: 40px;
}

.price__container-individual-one sup {
    font-size: 1.5rem;
    font-weight: 400;
}

.price__container-individual-two {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: 462.5px;
    height: 195px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    background-color: white;
}

.price__container-individual-two p, span {
    flex: 1 1 100%;
}

.price__container-individual-two a {
    padding: 12px 25px;
    font-weight: 600;
    font-size: 1.8rem;
    border-style: solid;
    border-color: #4082a9;
    border-width: .2rem;
    background-color: #4082a9;
    border-radius: .5rem;
    color: white;
    text-decoration: none;
}

.price__container-individual-two a:hover {
    background-color: #2d668a;
    color: white;
    border-style: solid;
    border-color: #2d668a;
    border-width: .2rem;
    border-radius: .5rem;
}

.price__container-individual-two-modifier a {
    background-color: #414141;
    border-color: #414141;
}

.price__container-individual-two-modifier a:hover {
    background-color: #313131;
    border-color: #313131;
}

.price__container-individual-three {
    display: flex;
    flex: 1 1 100%;
    max-width: 462.5px;
    height: 62px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: white;
}

.price__container-individual-three-modifier {
    background-color:#f8f8f8;
}


.price__container-individual-three-1 {
    flex-basis: 10%;
    max-width: 30px;
    max-height: 30px;
}

.price__container-individual-three-2 {
    flex-basis: 60%;
}

.price__container-individual-three-3 {
    flex-basis: 30%;
}

.price__note {
    flex: 1 1 100%;
    height: 300px;
    text-align: center; 
    padding: 20px 0px;   
}

.price__note a {
    font-weight: 600;
    font-size: 1.5rem;
    color: #f9c71c;
    text-decoration: none;
}

.price__note a:hover {
    color: #e4b620;
    text-decoration: underline;
}

/*_________Contact Section__________*/

.contact {
    background-color: white;
    height: 800px;
    text-align: center;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 20px 400px;
    justify-content: center;
}

input[type=text], select {
    flex:1 1 50%;
    padding: 25px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
}

input[type=email], select {
    flex:1 1 50%;
    padding: 25px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
}

input[type=tel], select {
    flex-basis: 100%;
    width: 50%;
    padding: 25px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
}

select, select {
    flex-basis: 100%;
    width: 50%;
    padding: 25px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
}

textarea, select {
    flex-basis: 100%;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
}

input[type=submit], select {
    padding: 18px 30px;
    border-radius: 5px;
    border-color: #4082a9;
    color: #4082a9;
    font-weight: 600;
    font-size: 1.6rem;
    border-style: solid;
    background-color: white;
    margin-top: 25px;
}

#submit {
    padding: 18px 30px;
    border-radius: 5px;
    border-color: #4082a9;
    color: #4082a9;
    font-weight: 600;
    font-size: 1.6rem;
    border-style: solid;
    background-color: white;
    margin-top: 25px;
}

#submit:hover {
    background-color: #4082a9;
    color: white;
    border-style: solid;
    border-color: #4082a9;
}


/*_________Footer__________*/

.footer__menu {
    background-color: #262626;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu-container {
    display: flex;
    margin: 0px 400px;
    flex-basis: 100%;
}

.footer__menu-individual {
    flex-basis: 25%;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.footer__menu-individual p {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
}

.footer__menu-individual hr {
    color: white;
    margin-left: 50px;
}

.footer__menu-individual li {
    list-style: none;
    cursor: pointer;
    line-height: 1.8;
    font-size: 1.5rem;
}

.footer__menu-individual li a {
    color: #f9c71c;
    list-style: none;
    cursor: pointer;
    line-height: 1.8;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer__menu-individual i {
    font-size: 2rem;
    border-style: solid;
    padding: 5px;
    border-radius: 50px;
    transition: all 500ms;
    transform:translate(0px,0px);
}

.footer__menu-individual i:hover {
    font-size: 2rem;
    border-style: solid;
    padding: 5px;
    border-radius: 50px;
    transform:translate(0px,-4px);
}

#facebook {
    background-color: #4e71a8;
    border-color: #4e71a8;
    padding: 5px 10px;
}

#twitter {
    background-color: #1cb7eb;
    border-color: #1cb7eb;
}

.footer__copy {
    background-color: #222;
    height: 63px;
    color: white;
    text-align: left;
    font-size: 1.5rem;
    padding: 25px 400px;
}

